<!doctype html>

<html ng-app="Chats">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  	<title>Patrick Weaver!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>

<body ng-controller="mainController">

<div id="wrapper">
	<div id="chat-area">
		<div ng-repeat="chat in chats | orderBy: 'timestamp'" class="chat-container">
			<div class="chat-wrapper">
				<p class="chat-{{chat.who}}">
					<strong>{{chat.who}} at {{chat.timestamp}}:</strong><br>
					{{chat.message}}
				</p>
				<div class="avatar avatar-{{chat.who}}"></div>
			</div>
		</div>
	</div>

	<div id="compose-area">
	    <textarea id="composer" class='text-input' type='text' autofocus='autofocus'></textarea>
	    <div id="send-button">
	      <button>&nbsp;↵&nbsp;</button>
	    </div>
	</div>
</div>

<script src="js/core.js"></script>
<script src="js/listen.js"></script>
</body>
</html>